<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <dt>Username</dt>
            <dd><%= @user.username %></dd>

            <dt>Email</dt>
            <dd><%= @user.email %></dd>
        </h3>
      </div>

      <dt>Images</dt>

      <%@photo.each do |photo|%>
      <tr>
        <td>
          <div class="panel-body">
            <img src="<%=photo.image%>" width="300" />
          </div>
        </td>
      <%end%>
      </tr>

      </div>
    </dl>


  </div>
</div>
